/* This is my site css*/

body {
    background-color: white;
}

.container {
    background-color: white;
    width: 1000px;
    margin-left: 252px;
    box-shadow: 20px 20px lightgrey;
}
#head{
     border: 2px solid black;
}
#head > ul {
    /*display: inline-block;*/
    color: red;
    width: 800px;
    height: 50px;
    padding-left: 189px;
    font-family: cursive;
    
   
}

#head > img {
    border: 1px black dotted;
}

#head li {
    float: left;
    list-style: none;
    font-size: 40px;
    margin-left: 80x;
    margin-right: 20px;
    height: 50px;
}

#head li a {
    text-decoration: none;
    color: black;
}

#head li a:hover {
    text-decoration: none;
    color: green;
}