/* This is my site css*/

body {
    background-color: white;
}

.container {
    background-color: white;
    width: 1000px;
    margin-left: 252px;
    box-shadow: 10px 10px lightgrey;
}

#head {
    border: 2px solid black;
}

#head > ul {
    /*display: inline-block;*/
    color: red;
    width: 800px;
    height: 50px;
    padding-left: 189px;
    font-family: cursive;
}

#head > img {
    border: 1px black dotted;
}

#head li {
    float: left;
    list-style: none;
    font-size: 40px;
    margin-left: 80x;
    margin-right: 20px;
    height: 50px;
}

#head li a {
    text-decoration: none;
    color: black;
}

#head li a:hover {
    text-decoration: none;
    color: violet;
}

#body {
    background: cyan;
    color: black;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    height: 500px;
}

#footer {
    background: black;
    color: white;
    font-family: cursive;
    font-size: 20px;
    height: 500px;
    margin-bottom: 50px;
}

#footer .column{
    width: 331px;
    float: left;
    text-align: center;
    background: grey;
    height: 500px;
    border-right: 2px dotted white;
}
#copyright {
    float: right;
    font-family: sans-serif;
    font-size-adjust: 20px;
    display: inline-block;
}