/* This is my site css*/


/*CSS common to all pages */

body {
    background-image: url(img/background.jpg);
}

.container {
    background-color: white;
    width: 1000px;
    margin-left: 252px;
    box-shadow: 10px 10px lightgrey;
}

#head {
    border: 2px solid black;
}

#head > ul {
    /*display: inline-block;*/
    color: red;
    width: 800px;
    height: 50px;
    padding-left: 189px;
    font-family: cursive;
}

#head > img {
    /* border: 1px black dotted;*/
}

#head li {
    float: left;
    list-style: none;
    font-size: 40px;
    margin-left: 80x;
    margin-right: 20px;
    height: 50px;
}

#head li a {
    text-decoration: none;
    color: black;
}

#head li a:hover {
    text-decoration: none;
    color: violet;
}

#body {
    background: white;
    color: grey;
    font-family: cursive;
    font-size: 20px;
    /*text-align: center;*/
    /* height: 500px;*/
}

#footer {
    background: black;
    color: white;
    font-family: cursive;
    font-size: 20px;
    height: 315px;
    margin-bottom: 50px;
}

#footer .column {
    /* width: 331px;*/
    width: 498px;
    float: left;
    text-align: center;
    background: black;
    height: 315px;
    border-right: 2px dotted white;
}

#copyright {
    float: right;
    font-family: sans-serif;
    font-size-adjust: 20px;
    display: inline-block;
}

#copyright a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#copyright a:hover {
    text-decoration: none;
    color: violet;
    padding: 5px;
}

#form {
    display: inline-block;
    margin-top: 10px;
    height: 300px;
    width: 450px;
}

#footer a {
    text-decoration: none;
    color: white;
    float: left;
    margin-right: 140px;
    /*position: relative;*/
}

#footer a:hover {
    text-decoration: none;
    color: violet;
    float: left;
    margin-right: 140px;
}

#body h3 {
    text-align: center;
}


/*Resume Page CSS*/

#body #resumeMyImage {
    float: right;
}

#body #resumeMainContent {
    /* float: left;*/
    width: 750px;
}

#socialIcon {
    color: white;
   /* border: 1px white solid;*/
    position: fixed;
    margin-top: 100px;
}

#socialIcon a {
    color: white;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
}

#socialIcon li {
    list-style: none;
    padding: 10px;
    float: none;
    width: 147px;
}
#socialIcon img {
   margin-left: 21px;
   margin-bottom: 5px;

}
#socialIcon a:hover {
    color: yellow;
    /*font-size: 30px;*/
}